:root {
    /* color background */
    --bg-bug: #AABB22CC;
    --bg-dragon: #7766EECC;
    --bg-electric: #FFCC33CC;
    --bg-fairy: #EE99EECC;
    --bg-fighting: #B95443CC;
    --bg-flying: #8899FFCC;
    --bg-fire: #FF4422CC;
    --bg-ghost: #6666BBCC;
    --bg-grass: #60A345CC;
    --bg-ground: #DDBB55CC;
    --bg-ice: #66CCFFCC;
    --bg-normal: #AAAA99CC;
    --bg-psychic: #FF5599CC;
    --bg-poison: #a85497CC;
    --bg-rock: #968852CC;
    --bg-steel: #AAAABBCC;
    --bg-water: #3399FFCC;
    --bg-bug-flying: linear-gradient(90deg, #AABB22CC 50%, #8899FFCC 50%);
    --bg-bug-grass: linear-gradient(90deg, #AABB22CC 50%, #60A345CC 50%);
    --bg-bug-poison: linear-gradient(90deg, #AABB22CC 50%, #a85497CC 50%);
    --bg-poison-ground: linear-gradient(90deg, #a85497CC 50%, #DDBB55CC 50%);
    --bg-fire-flying: linear-gradient(90deg, #FF4422CC 50%, #8899FFCC 50%);
    --bg-normal-fairy: linear-gradient(90deg, #AAAA99CC 50%, #EE99EECC 50%);
    --bg-normal-flying: linear-gradient(90deg, #AAAA99CC 50%, #8899FFCC 50%);
    --bg-grass-poison: linear-gradient(90deg, #77cc55CC 50%, #a85497CC 50%);
    --bg-poison-flying: linear-gradient(90deg, #a85497CC 50%, #8899FFCC 50%);
    --bg-water-fighting: linear-gradient(90deg, #3399FFCC 50%, #B95443CC 50%);
    --bg-water-poison: linear-gradient(90deg, #3399FFCC 50%, #a85497CC 50%);
    --bg-rock-ground: linear-gradient(90deg, #968852CC 50%, #DDBB55CC 50%);
    --bg-water-psychic: linear-gradient(90deg, #3399FFCC 50%, #FF5599CC 50%);
    --bg-electric-steel: linear-gradient(90deg, #FFCC33CC 50%, #AAAABBCC 50%);
    --bg-water-ice: linear-gradient(90deg, #3399FFCC 50%, #66CCFFCC 50%);
    --bg-ghost-poison: linear-gradient(90deg, #6666BBCC 50%, #a85497CC 50%);
    --bg-grass-psychic: linear-gradient(90deg, #77cc55CC 50%, #FF5599CC 50%);
    --bg-ground-rock: linear-gradient(90deg, #DDBB55CC 50%, #968852CC 50%);
    --bg-psychic-fairy: linear-gradient(90deg, #FF5599CC 50%, #EE99EECC 50%);
    --bg-ice-psychic: linear-gradient(90deg, #66CCFFCC 50%, #FF5599CC 50%);
    --bg-water-flying: linear-gradient(90deg, #3399FFCC 50%, #8899FFCC 50%);
    --bg-rock-water: linear-gradient(90deg, #968852CC 50%, #3399FFCC 50%);
    --bg-rock-flying: linear-gradient(90deg, #968852CC 50%, #8899FFCC 50%);
    --bg-ice-flying: linear-gradient(90deg, #66CCFFCC 50%, #8899FFCC 50%);
    --bg-electric-flying: linear-gradient(90deg, #FFCC33CC 50%, #8899FFCC 50%);
    --bg-fire-flying: linear-gradient(90deg, #FF4422CC 50%, #8899FFCC 50%);
    --bg-dragon-flying: linear-gradient(90deg, #7766EECC 50%, #8899FFCC 50%);

    /* color box shadow */
    --bs-bug: 1px solid #88961B;
    --bs-dragon : 1px solid #5F52BE;
    --bs-electric: 1px solid #CCA329;
    --bs-fairy: 1px solid #BE7ABE;
    --bs-fighting: 1px solid #964436;
    --bs-flying: 1px solid #6D7ACC;
    --bs-ghost: 1px solid #525296;
    --bs-grass: 1px solid #60A345;
    --bs-ground: 1px solid #B19644;
    --bs-ice: 1px solid #52A3CC;
    --bs-normal: 1px solid #88887A;
    --bs-poison: 1px solid #88447A;
    --bs-psychic: 1px solid #CC447A;
    --bs-rock: 1px solid #968852;
    --bs-steel: 1px solid #888896;
    --bs-water: 1px solid #297ACC;

    /* color type */
    --bug: #AABB22;
    --dragon: #7766EE;
    --electric: #FFCC33;
    --fairy: #EE99EE;
    --fighting: #B95443;
    --flying: #8899FF;
    --fire: #FF4422;
    --ghost: #6666BB;
    --grass: #77cc55;
    --ground: #DDBB55;
    --ice: #66CCFF;
    --normal: #AAAA99;
    --psychic: #FF5599;
    --poison: #a85497;
    --rock: #BBAA66;
    --steel: #AAAABB;
    --water: #3399FF;

    /* other elements */
    --mega: linear-gradient(45deg, #f38ec6 0%, #1799ec 50%, #c5df41 100%);
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, ul, li {
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-body {
    background: white;
    margin: 0 15px;
    position: relative;
    bottom: 40px;
} 

.pokemon-search {
    height: 80px;
    padding: 10px 15px;
    margin-bottom: 40px;
}

.pokemon-search-image {
    margin: 0;
}

.pokemon-search-image img {
    width: 40px;
    float: right;
}

.pokemon-image {
    margin: 0;
    text-align: center;
    height: 60px;
}

.pokemon-image img {
    width: 120px;
    margin: auto;
    position: relative;
    bottom: 60px;
}

.pokemon-name-number {
    color: #596275;
    text-align: center;
    margin-bottom: 15px;
}

.pokemon-name-number h1 {
    font-size: 24px;
}

.pokemon-name-number h2 {
    font-size: 16px;
}

.pokemon-type {
    display: flex;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    justify-content: center;
    margin: 10px;
}

.pokemon-type li {
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0 10px;
    width: 50px;
}

.pokemon-stats-base {
    padding: 30px;
    color: #596275;
}

.pokemon-stats-base h1 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid #59627533;
    text-align: center;
    padding-bottom: 5px;
}

.pokemon-stats-base .pokemon-stats {
    font-size: 14px;
    display: grid;
    grid-template-columns: 50px 20px;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #59627533;;
    margin-bottom: 10px;
}

.pokemon-stats-base .pokemon-stats:last-child {
    border-bottom: none;
}

.stats-bar .stats-preogress {
    height: 8px;
    display: block;
    background: var(--grass);
    border-radius: 5px;
    max-width: 250px;
}

.pokemon-stats .stats-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pokemon-stats .stats-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.next, .previous {
    background-image: url(../img/next-icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    height: 48px;
    width: 48px;
    display: none;
    position: absolute;
    top: 50%;
}

.next {
    right: 0;
}

.previous {
    transform: rotate(180deg);
}

@media only screen and (min-width: 425px) {
    .card-body {
        margin: 0 30px;
    }

    .pokemon-stats {
        margin: 0 15px;
    }

    .pokemon-stats-base {
        padding: 30px 40px;
    }

    .pokemon-stats-base h1 {
        text-align: left;
    }
    
    .pokemon-stats-base .pokemon-stats {
        grid-template-columns: 50px 20px 1fr;
    }

    .pokemon-stats .stats-name {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }

    .pokemon-stats .stats-bar {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }

    .pokemon-search {
        padding: 10px 30px;
    }
}

@media only screen and (min-width: 480px) {
    .pokemon-image {
        height: 80px;
    }
    
    .pokemon-image img {
        width: 140px;
    }
}

@media only screen and (min-width: 768px) {
    .card-body {
        margin: 0 120px;
    }

    .pokemon-search {
        padding: 10px 120px;
    }

    .stats-bar .stats-preogress {
        max-width: 100%;
    }

    .next {
        margin-right: 40px;
        display: block;
    }

    .previous {
        margin-left: 40px;
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .pokemon-search {
        padding: 25px 200px;
    }

    .pokemon-search-image img {
        width: 50px;
    }

    .card-body {
        margin: 0 200px;
    }

    .previous {
        margin-left: 120px;
    }

    .next {
        margin-right: 120px;
    }

    .pokemon-image img {
        width: 250px;
    }

    .pokemon-image {
        text-align: left;
        top: -60px;
        left: -100px;
        position: absolute;
    }

    .pokemon-name-number {
        text-align: left;
        margin: 0 170px;
        padding: 20px 0;
    }

    .pokemon-name-number h1 {
        font-size: 36px;
    }

    .pokemon-name-number h2 {
        font-size: 26px;
    }

    .pokemon-types {
        margin: 0 160px;
    }

    .pokemon-type {
        justify-content: left;
        margin: 0;
    }

    .pokemon-stats-base h1 {
        font-size: 22px;
    }

    .pokemon-stats-base .pokemon-stats {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .card-body {
        margin: 0 400px;
    }

    .pokemon-search {
        padding: 50px 400px;
    }

    .previous {
        margin-left: 330px;
    }

    .next {
        margin-right: 330px;
    }
}