:root {
    /* color type */
    --bug: #AABB22;
    --dark: #775544;
    --dragon: #7766EE;
    --electric: #FFCC33;
    --fairy: #EE99EE;
    --fighting: #B95443;
    --flying: #8899FF;
    --fire: #FF4422;
    --ghost: #6666BB;
    --grass: #77cc55;
    --ground: #DDBB55;
    --ice: #66CCFF;
    --normal: #AAAA99;
    --poison: #a85497;
    --psychic: #FF5599;
    --rock: #BBAA66;
    --steel: #AAAABB;
    --water: #3399FF;

    /* color background */
    --bg-bug: #AABB22CC;
    --bg-dark: #775544CC;
    --bg-dragon: #7766EECC;
    --bg-electric: #FFCC33CC;
    --bg-fairy: #EE99EECC;
    --bg-fighting: #B95443CC;
    --bg-flying: #8899FFCC;
    --bg-fire: #FF4422CC;
    --bg-ghost: #6666BBCC;
    --bg-grass: #77cc55CC;
    --bg-ground: #DDBB55CC;
    --bg-ice: #66CCFFCC;
    --bg-normal: #AAAA99CC;
    --bg-poison: #a85497CC;
    --bg-psychic: #FF5599CC;
    --bg-rock: #BBAA66CC;
    --bg-steel: #AAAABBCC;
    --bg-water: #3399FFCC;

    /* color border type*/
    --b-bug: 1px solid #88961B;
    --b-dark : 1px solid #5F4436;
    --b-dragon : 1px solid #5F52BE;
    --b-electric: 1px solid #CCA329;
    --b-fairy: 1px solid #BE7ABE;
    --b-fighting: 1px solid #964436;
    --b-flying: 1px solid #6D7ACC;
    --b-fire: 1px solid #CC361B;
    --b-ghost: 1px solid #525296;
    --b-grass: 1px solid #60A345;
    --b-ground: 1px solid #B19644;
    --b-ice: 1px solid #52A3CC;
    --b-normal: 1px solid #88887A;
    --b-poison: 1px solid #88447A;
    --b-psychic: 1px solid #CC447A;
    --b-rock: 1px solid #968852;
    --b-steel: 1px solid #888896;
    --b-water: 1px solid #297ACC;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, ul, li {
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-body {
    background: white;
    margin: 0 15px;
    position: relative;
    bottom: 25px;
} 

.pokemon-search {
    height: 50px;
    padding: 15px;
    margin-bottom: 100px;
}

.pokemon-search-image {
    display: flex;
    margin: 0;
    float: right;
    align-items: center;
    cursor: pointer;
}

.pokemon-search-image img {
    width: 40px;
    position: relative;
}

.pokemon-image {
    margin: 0;
    text-align: center;
    height: 100px;
}

.pokemon-image img {
    width: 200px;
    margin: auto;
    position: relative;
    bottom: 100px;
}

.pokemon-name-number {
    color: #596275;
    text-align: center;
    margin-bottom: 15px;
}

.pokemon-name-number h1 {
    font-size: 24px;
}

.pokemon-name-number h2 {
    font-size: 16px;
}

.pokemon-type {
    display: flex;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    justify-content: center;
    margin: 10px;
}

.pokemon-type li {
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0 10px;
    width: 60px;
}

.pokemon-stats-base {
    padding: 30px;
    color: #596275;
}

.pokemon-stats-base h1 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid #59627533;
    text-align: center;
    padding-bottom: 5px;
}

.pokemon-stats-base .pokemon-stats {
    font-size: 14px;
    display: grid;
    grid-template-columns: 50px 20px;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #59627533;;
    margin-bottom: 10px;
}

.pokemon-stats-base .pokemon-stats:last-child {
    border-bottom: none;
}

.stats-bar .stats-preogress {
    height: 8px;
    display: block;
    background: var(--grass);
    border-radius: 5px;
    max-width: 250px;
}

.pokemon-stats .stats-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pokemon-stats .stats-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.next, .previous {
    background-image: url(../img/next-icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    height: 48px;
    width: 48px;
    display: none;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.next {
    right: 0;
}

.previous {
    transform: rotate(180deg);
}

.pokemon-search-input {
    display: none;
    border: 2px solid #000;
    border-radius: 20px;
    position: relative;
    left: 30px;
    width: 240px;
    outline-style: none;
    padding: 6px 20px;
}

.pokemon-variants {
    display: flex;
    font-size: 10px;
    word-break: break-word;
    text-align: center;
}

.pokemon-variants div {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 3px solid #DEE0E3;
}

.pokemon-variants div.gmax {
    background: linear-gradient(145deg, rgba(25,167,232,1) 0%, rgba(255,255,255,1) 50%, rgba(230,33,109,1) 100%);
}

.pokemon-variants div.gmax img {
    width: 45px;
    padding: 8px 0;
}

.pokemon-variants div.mega img {
    width: 30px;
    padding: 5px 0;
}

.pokemon-variants div.mega {
    background: linear-gradient(145deg, #f38ec6 0%, #1799ecCC 50%, #c5df41 100%);;
}

@media only screen and (min-width: 425px) {
    .card-body {
        margin: 0 30px;
    }

    .pokemon-stats {
        margin: 0 15px;
    }

    .pokemon-stats-base {
        padding: 30px 40px;
    }

    .pokemon-stats-base h1 {
        text-align: left;
    }
    
    .pokemon-stats-base .pokemon-stats {
        grid-template-columns: 50px 20px 1fr;
    }

    .pokemon-stats .stats-name {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }

    .pokemon-stats .stats-bar {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }

    .pokemon-search {
        padding: 10px 30px;
    }
}

@media only screen and (min-width: 480px) {
    .pokemon-image {
        height: 125px;
    }
    
    .pokemon-image img {
        width: 250px;
        bottom: 125px;
    }

    .pokemon-search {
        padding: 20px 30px;
    }

    .pokemon-name-number h1 {
        font-size: 30px;
    }

    .pokemon-name-number h2 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) {
    .card-body {
        margin: 0 120px;
    }

    .pokemon-search {
        padding: 25px 120px;
        margin-bottom: 150px;
    }

    .stats-bar .stats-preogress {
        max-width: 100%;
    }

    .next {
        margin-right: 40px;
        display: block;
        top: 75%;
    }

    .previous {
        margin-left: 40px;
        display: block;
        top: 75%;
    }

    .pokemon-image {
        height: 200px;
    }

    .pokemon-image {
        height: 150px;
    }

    .pokemon-search-image img {
        width: 50px;
    }

    .pokemon-search-image img {
        width: 50px;
    }

    .pokemon-image img {
        width: 300px;
        bottom: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .pokemon-search {
        padding: 25px 200px;
        margin-bottom: 50px;
    }

    .pokemon-search-image img {
        width: 50px;
    }

    .card-body {
        margin: 0 200px;
    }

    .previous {
        margin-left: 120px;
        top: 50%;
    }

    .next {
        margin-right: 120px;
        top: 50%;
    }

    .pokemon-image img {
        width: 300px;
        bottom: 130px;
    }

    .pokemon-image {
        text-align: left;
        left: -140px;
        position: absolute;
    }

    .pokemon-name-number {
        text-align: left;
        margin: 0 170px;
        padding: 20px 0;
    }

    .pokemon-name-number h1 {
        font-size: 36px;
    }

    .pokemon-name-number h2 {
        font-size: 26px;
    }

    .pokemon-type-form {
        margin: 0 160px;
    }

    .pokemon-type {
        justify-content: left;
        margin: 0;
    }

    .pokemon-stats-base h1 {
        font-size: 22px;
    }

    .pokemon-stats-base .pokemon-stats {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .card-body {
        margin: 0 400px;
    }

    .pokemon-search {
        padding: 30px 400px;
    }

    .previous {
        margin-left: 330px;
    }

    .next {
        margin-right: 330px;
    }
}